<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="/static/style.css">
 </head>
  
 <body>  
    <div style="text-align:center;"><img id="logo" src="/static/lgg.png" alt="A description of the image"></div>
    

    <h2>Find your supervisor</h2>
    <form action="/search" method="GET">
            <input type="text" id="query" name="query" placeholder="Enter research topic Here">
            <input type="submit" value="search">
    </form> 
  </body>
</html>
